body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header-text {
    font-size: 3em;
    color: #d32f2f;
}

h1 {
    font-size: 2.5em;
    color: #d32f2f;
}


.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.button-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.gift-button {
    font-size: 1.5em;
    padding: 15px 30px;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

/* Hover Effect */
.gift-button:hover {
    background-color: #ff2222;
    transform: scale(1.1);
}
